<article class="post hentry"></article>

<script type="text/javascript">
  var disqus_shortname = 'recordofmotion'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<div id="pager">
  <a id="btn-newer-posts">&lang; Newer Posts</a>
  <a id="btn-older-posts">Older Posts &rang;</a>
</div>
