/* .post-date:before { */
/*     content: none; */
/* } */

.post-date {
    text-decoration: none;
}

.right {
    float: right;
}

.figure p {
    text-align: center;
}

.img-center {
    display: block;
    margin: 0 auto;
}

iframe.twitter-tweet {
    margin: 0 auto !important;
}

/* Used to give fixed maximum heights to potentially long output files */
div.med-src-container pre.src {
    max-height: 900px;
}

div#pager a {
    text-decoration: none;
}

div#pager {
    text-align: center;
}

.comments-link:before {
    content: none;
}

pre {
    color: #DCDCCC;
    background-color: #3F3F3F;
    font-family: "Source Code Pro";
}

.site-branding {
    margin: 14.85px auto !important;
    width: 11em !important;
    float: none !important;
}