.post-date:before {
    content: '';
}

.right {
    float: right;
}

.figure p {
    text-align: center;
}

.img-center {
    display: block;
    margin: 0 auto;
}

iframe.twitter-tweet {
    margin: 0 auto !important;
}

/* Used to give fixed maximum heights to potentially long output files */
div.med-src-container pre.src {
    max-height: 900px;
}

div#pager a {
    text-decoration: none;
}

div#pager {
    text-align: center;
}